@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

/**/
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
/**/

.App {
  text-align: center;
  padding: 1rem;
}

* {
  font-family: "Skranji", cursive;
}

h1 {
  font-family: "Rye", cursive;
}
